* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* le dichiarazioni del CSS sono state messe in maniera da andare in modo specifico in ogni elemento */

/* LAYOUT UTILITIES */
    body {
        min-width: 500px;
        font-family: 'Montserrat', sans-serif;
        color: rgb(255, 255, 255);
    }

    /* SETTING SFONDO GENERALE */
    #sfondo-gen {
        width: 100%; 
        height: 100vh;
        background: black;
    }
    /* FINE SETTING SFONDO GENERALE */
    
    a { 
        text-decoration: none;
        color: rgba(255, 255, 255, 0.4);
    }

    a img {
        opacity: 0.8;
    }

    a:hover, a.select, a:focus { 
        color: rgba(255, 255, 255, 1);
    }
    
    a:hover img, a.select img, a:focus img { 
        opacity: 1;
    }

    a.btn {
        display: inline-block;
        padding: 10px 40px;
        border: 1px solid white;
        border-radius: 50px;
        font-size: 12px;
        line-height: 20px;
        color: white;
        text-transform: uppercase;
    }

    a.btn:hover, a.btn.select, a.btn:focus {
        transform: scale(1.2);
    }
    
    p {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.4);
    }
    .menu-list {
        list-style: none;
        font-size: 13px;
        line-height: 35px;
    }
    
    .menu-inline li{
        display: inline-block;
        margin: 10px;
    }

/* FINE LAYOUT UTILITIES */

/* INIZIO MAIN */
  
/* INIZIO NAV */
    main #content .content-nav {
        width: 100%;
        margin-top: 90px;
        text-align: center;
    }

    main #content .content-nav a {
        position: relative;
        padding-bottom: 5px;
    }

    main #content .content-nav a.select:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        height: 2px;
        width: 30px;
        background: greenyellow;
    }
/* FINE NAV */

/* INIZIO MAIN NAV */
    main nav.main-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 230px;
        height: calc(100% - 90px);
        min-height: 480px;
        background-color: black;
    }
    
    main nav.main-nav .nav-top {
        display: flex;
        flex-direction: column;
        height: calc(100% - 80px);
        overflow-y: hidden;
    }

    main nav.main-nav .nav-top .nav-logo {
        padding: 20px;
    }

    main nav.main-nav .nav-top .nav-logo img {
        width: 70%;
    }

    main nav.main-nav .nav-top .nav-logo-mobile {
        display: none;
        text-align: center;
        padding: 5px;
    }

    main nav.main-nav .nav-top .nav-logo-mobile img{
        width: 70%;
    }

    main nav.main-nav .nav-top .nav-menu .menu-list li {
        padding-left: 17px;
        border-left: 3px solid transparent;
    }

    main nav.main-nav .nav-top .nav-menu .menu-list li.select {
        border-left: 3px solid greenyellow;
    }

    main nav.main-nav .nav-top .nav-menu .menu-list li.select a{
        color: white;
    }

    main nav.main-nav .nav-top .nav-menu .menu-list img {
        height: 26px;
        margin-right: 5px;
        vertical-align: middle;
    }
    
    main nav.main-nav .nav-top .nav-playlist {
        padding: 20px;
        overflow: hidden;
    }
    
    main nav.main-nav .nav-top .nav-playlist .menu-list{
        height: 80%;
        overflow-y: auto;
    }

    main nav.main-nav .nav-top .nav-playlist h2 {
        margin-bottom: 10px;
        font-size: 14px;
        text-transform: uppercase;
    }

    main nav.main-nav .nav-top .nav-playlist .add-playlist {
        margin-bottom: 10px;
        display: block;
        font-size: 15px;
        line-height: 37px;
    }

    main nav.main-nav .nav-top .nav-playlist .add-playlist span:before {
        display: inline-block;
        content: '+';
        width: 37px;
        height: 37px;
        margin-right: 10px;
        background-color: rgba(255, 255, 255, 0.6);
        font-size: 35px;
        text-align: center;
        line-height: 37px;
        vertical-align: middle;
        color: black;
    }

    main nav.main-nav .nav-top .nav-playlist .add-playlist:hover span:before {
        background-color: rgba(255, 255, 255, 1);
    }
    
    main nav.main-nav .nav-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80px;
        padding-right: 20px;
        padding-left: 20px;
    }

    main nav.main-nav .nav-bottom .app-download a, main nav.main-nav .nav-bottom .user {
        display: flex;
        align-items: center;
    }

    main nav.main-nav .nav-bottom .app-download {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    main nav.main-nav .nav-bottom .app-download a {
        font-size: 13px;
    }

    main nav.main-nav .nav-bottom .app-download img {
        width: 15px;
        margin-right: 10px;
    }

    main nav.main-nav .nav-bottom .user .user-img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        background: grey;
        border-radius: 50%;
        overflow: hidden;
    }
    main nav.main-nav .nav-bottom .user .user-img img{
        width: 100%;
    }

    main nav.main-nav .nav-bottom .user .user-name {
        font-size: 14px;
        color: rgb(255, 255, 255);
    }
    /* FINE MAIN NAV */
    
/* FINE MAIN */

/* MAIN CONTENT */
    main #content {
        width: 100%;
        padding-left: 230px;
        overflow-x: hidden;
        background: #141922;
    }
    
    main #content .col {
        position: fixed;
        z-index: 1;
        width: calc(100% - 230px);
        height: 90px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: right;
    }

    /* SETTING LINK A */
    a { 
        text-decoration: none;
        color: rgba(255, 255, 255, 0.4);
    }

    a:hover, a.select, a:focus { 
        color: rgba(255, 255, 255, 1);
    }
    
    a img {
        opacity: 0.8;
    }

    a:hover img, a.select img, a:focus img { 
        opacity: 1;
    }

    a.btn {
        display: inline-block;
        padding: 10px 40px;
        border: 1px solid white;
        border-radius: 50px;
        font-size: 12px;
        line-height: 20px;
        color: white;
        text-transform: uppercase;
    }

    a.btn:hover, a.btn.select, a.btn:focus {
        transform: scale(1.1);
    }
    /* FINE SETTING LINK A */
/* FINE MAIN CONTENT */

/* INIZIO MAIN NAV */
    main #content .content-nav {
        width: 100%;
        margin-top: 90px;
        text-align: center;
    }

    main #content .content-nav a {
        position: relative;
        padding-bottom: 10px;
    }

    /* Creo una barretta vuota con solo lo sfondo sotto al menu' evidenza*/
    main #content .content-nav a.select:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        display: block;
        height: 2px;
        width: 50px;
        background: greenyellow;
    }
    
/* FINE MAIN NAV */

    /* INIZIO COVER */
    main #content .cover .cover-row > p{ 
        margin-top: 10px;
    }

    main #content .cover .cover-row {
        margin: 30px;
    }

    main #content .cover .cover-list {
        display: flex;
        margin: 30px 0;
    }

    main #content .cover .cover-list.bottom{
        display: flex;
        margin-bottom: 100px;
    }

    main #content .cover .cover-list .cover-brano {
        /*flex-shrink specifica in che modo l'elemento verrà ridotto rispetto al resto degli elementi flessibili all'interno dello stesso contenitore. */
        flex-shrink: 2;
        width: calc(100% / 6 - 15px);
        margin-right: 15px;
    }

    main #content .cover .cover-list .cover-brano .cover-container {
        position: relative;
        display: flex;
        max-width: 100%;
        margin-bottom: 20px;
    }

    main #content .cover .cover-list .cover-brano .cover-container .cover-play{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 60px;
    }

    main #content .cover .cover-list .cover-brano .cover-container .cover-play i{
        display: none;
    }

    main #content .cover .cover-list .cover-brano:hover .cover-container .cover-play {
        background-color: rgba(0, 0, 0, 0.5);
    }

    main #content .cover .cover-list .cover-brano:hover .cover-container .cover-play i {
        display: inline;
    }

    main #content .cover .cover-list .cover-brano .caption{
       text-align: center;
    }

    main #content .cover .cover-list .cover-brano .caption h3{
       font-size: 16px;
       line-height: 16px;
    }

    main #content .cover .cover-list .cover-brano .cover-container img{
        max-width: 100%;
    }

    main #content .cover #popular .cover-brano .cover-container img{
        border-radius: 100%;
    }

    main #content .cover #popular .cover-brano .cover-container {
        border-radius: 100%;
        overflow: hidden;
    }
    /* FINE COVER */

/* FINE MAIN */

/* INIZIO BOTTOM-BAR */
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 90px;
        background: #282828;
    }

    footer #player {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    /* INIZIO PLAYER ALBUM */
        footer #player .player-album, footer #player .player-audio {
            width: 230px;
            height: 100%;
            padding: 10px;
        }

        footer #player .player-album {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        footer #player .player-album .player-album-cover {
            width: 20%;
        }

        footer #player .player-album .player-album-cover img {
            width: 100%;
        }

        footer #player .player-album .player-album-title {
            width: 50%;
            padding-left: 10px;
        }

        footer #player .player-album .player-album-title a:hover {
            text-decoration: underline;
            color: rgba(255, 255, 255, 1);
        }

        footer #player .player-album .player-album-title h2 {
            font-size: 16px;
            line-height: 15px;
            color: rgba(255, 255, 255, 1);
        }

        footer #player .player-album .player-album-title p {
            font-size: 12px;
            margin-top: 10px;
        }

        footer #player .player-album .player-icons i{
            margin-left: 8px;
        }
    /* FINE PLAYER ALBUM */

    /* INIZIO PLAYER CONTROLLER */
        footer #player .player-contr {
            width: 40%;
            height: 100%;
        }

        /* INIZIO ICONE PLAYER CONTROLLER */
        footer #player .player-contr .player-icon {
            height: 60%;
        }

        footer #player .player-contr .player-icon ul {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        footer #player .player-contr .player-icon i{
            margin: 10px;
            font-size: 16px;
        }

        footer #player .player-contr .player-icon .play-ico i{
            width: 50px;
            font-size: 30px;
            text-align: center;
        }
        
        /* HOVER ICONE PLAYER */
        footer #player .player-contr .player-icon .play-ico:hover i{
            font-size: 35px;
        }
        /* FINE HOVER ICONE PLAYER */

        /* FINE ICONE PLAYER CONTROLLER */

        /* INIZIO CONTROLLER TEMPO BRANI*/
        footer #player .player-contr-time {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        footer #player .player-contr-time .time {
            width: 5%;
            margin: 0 10px;
            font-size: 11px;
            text-align: center;
        }
        /* FINE CONTROLLER TEMPO BRANI*/
    /* FINE PLAYER CONTROLLER */

    /* CONTROLLER TEMPO BRANO*/
        footer #player .time-bar {
            width: 80%;
            height: 5px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.2);
        }

        footer #player .time-bar .green-bar{
            position: relative;
            height: 100%;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.6);
        }

        footer #player .time-bar .green-bar.w20 {
            width: 20%;
            height: 5px;
        }

        footer #player .time-bar:hover .green-bar {
            background-color: greenyellow;
        }

        footer #player .time-bar:hover .green-bar .green-bar-circle {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 1);
        }
    /* FINE CONTROLLER TEMPO BRANO*/

    /* INIZIO LAYOUT PLAYER AUDIO*/
        footer #player .player-bar {
            width: 80%;
            height: 5px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.2);
        }

        footer #player .player-bar .green-bar.w20 {
            position: relative;
            height: 100%;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.6);
        }

        footer #player .player-bar .green-bar.w20 {
            width: 20%;
        }

        footer #player .player-bar:hover .green-bar.w20 {
            background-color: greenyellow;
        }

        footer #player .player-bar:hover .green-bar.w20 .green-bar-circle {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 1);
        }

        footer #player .player-album .player-album-title a:hover {
            text-decoration: underline;
            color: rgba(255, 255, 255, 1);
        }

    /* FINE LAYOUT CONTROLLER AUDIO*/
    
    /* INIZIO CONTROLLER AUDIO */
        footer #player .player-audio ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
        footer #player .player-audio .audio-volume {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    /* FINE CONTROLLER AUDIO */

/* FINE BOTTOM-BAR */

/* MEDIA QUERY */
    
    /* INIZIO QUERY MOBILE */

        /* INIZIO QUERY DESKTOP */
        @media screen and (max-width: 1200px) {
            main #content .cover .cover-list .cover-brano {
            width: calc(100% / 4 - 20px);
            margin-right: 10px;
            }

            main #content .cover .cover-list {
            flex-wrap: wrap;
            }
        }
        /* FINE QUERY DESKTOP */

        /* INIZIO QUERY TABLET */
        @media screen and (max-width: 700px) {
            main #content .cover .cover-list .cover-brano {
                width: calc(100% / 2 - 20px);
                margin-right: 10px;
            }

            main #content .cover .cover-list {
            flex-wrap: wrap;
            }
        }
        /* FINE QUERY TABLET */

        /* NAV MOBILE */
        @media screen and (max-width: 600px) {
            main nav.main-nav {
                width: 50px;
            }
        }

        /* NAV TOP MOBILE */
        @media screen and (max-width: 600px) {
            main nav.main-nav .nav-top .nav-logo {
            display: none;
            }

            main nav.main-nav .nav-top .nav-logo-mobile {
            display: block;
            }
        }

        /* NAV LIST MOBILE */
        @media screen and (max-width: 600px) {
            main nav.main-nav .nav-top .nav-menu .menu-list {
            text-align: center;
            }

            main nav.main-nav .nav-top .nav-menu .menu-list li {
            border: 0;
            padding-left: 0;
            }

            main nav.main-nav .nav-top .nav-menu .menu-list li a span {
            display: none;
            }

            main nav.main-nav .nav-top .nav-menu .menu-list li.select {
            border: 0;
            }

            main nav.main-nav .nav-top .nav-menu .menu-list img {
            margin: 0;
            }
        }

        /* NAV LIST MOBILE */
        @media screen and (max-width: 600px) {
            main nav.main-nav .nav-top .nav-playlist {
            display: none;
            }
        }
        
        /* NAV BOTTOM MOBILE */
        @media screen and (max-width: 600px) {
            main nav.main-nav .nav-bottom {
            padding: 0;
            align-items: center;
            }

            main nav.main-nav .nav-bottom .app-download {
            text-align: center;
            border: 0;
            padding: 0;
            }

            main nav.main-nav .nav-bottom .app-download span{
            display: none;
            }

            main nav.main-nav .nav-bottom .app-download img {
            margin: 0;
            }
        }

        /* NAV AVATAR MOBILE */
        @media screen and (max-width: 600px) {
            main nav.main-nav .nav-bottom .user .user-avatar {
            margin-right: 0;
            }

            main nav.main-nav .nav-bottom .user .user-name {
            display: none;
            }
        }

        /* CONTENT MOBILE */
        @media screen and (max-width: 600px) {
            main #content {
            padding-left: 50px;
            }
        }
    /* FINE QUERY MOBILE */



/* FINE MEDIA QUERY */