* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* LAYOUT UTILITIES */
    body {
        min-width: 500px;
        font-family: 'Montserrat', sans-serif;
        color: rgb(255, 255, 255);
    }

    p {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.4);
    }

    .menu-list {
        list-style: none;
        font-size: 13px;
        line-height: 35px;
    }
    
    .menu-inline li{
        display: inline-block;
        margin: 10px;
    }

    /* SETTING SFONDO GENERALE */
    #sfondo-gen {
        width: 100%; 
        height: 100vh;
        background: black;
    }
    /* FINE SETTING SFONDO GENERALE */
/* FINE LAYOUT UTILITIES */

/* INIZIO MAIN */
  
/* INIZIO NAV */
    main #content .main-content-nav {
        width: 100%;
        margin-top: 90px;
        text-align: center;
    }

    main #content .main-content-nav a {
        position: relative;
        padding-bottom: 5px;
    }

    main #content .main-content-nav a.active:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        display: block;
        height: 2px;
        width: 30px;
        background: greenyellow;
    }
/* FINE NAV */

/* INIZIO MAIN NAV */
    main nav.main-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 230px;
        height: calc(100% - 90px);
        min-height: 480px;
        background-color: black;
    }

    main nav.main-nav .nav-top .nav-main-menu .menu-list li {
        padding-left: 17px;
        border-left: 3px solid transparent;
    }

    main nav.main-nav .nav-top .nav-main-menu .menu-list li.active {
        border-left: 3px solid greenyellow;
    }
    main nav.main-nav .nav-top .nav-main-menu .menu-list li.active a{
        color: white;
    }

    main nav.main-nav .nav-top .nav-main-menu .menu-list img {
        height: 26px;
        margin-right: 5px;
        vertical-align: middle;
    }
    
    main nav.main-nav .nav-top .nav-playlist {
        padding: 20px;
        overflow: hidden;
    }

    main nav.main-nav .nav-top .nav-playlist .menu-list{
        height: 80%;
        overflow-y: auto;
    }

    /* FINE INIZIO MAIN NAV */

    
/* FINE MAIN */

/* MAIN CONTENT */
    main #content {
        width: 100%;
        padding-left: 230px;
        overflow-x: hidden;
        background: #141922;
    }

    main #content {
        width: 100%;
        padding-left: 230px;
        overflow-x: hidden;
        background: #141922;
      }
      
      main #content .col {
        position: fixed;
        z-index: 1;
        width: calc(100% - 230px);
        height: 90px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: right;
      }
/* SETTING LINK A */
    a { 
        text-decoration: none;
        color: rgba(255, 255, 255, 0.4);
    }
    a:hover, a:active, a:focus { 
        color: rgba(255, 255, 255, 1);
    }
    
    a img {
        opacity: 0.8;
    }

    a:hover img, a:active img, a:focus img { 
        opacity: 1;
    }

    a.btn {
        display: inline-block;
        padding: 10px 40px;
        border: 1px solid white;
        border-radius: 50px;
        font-size: 12px;
        line-height: 20px;
        color: white;
        text-transform: uppercase;
    }

    a.btn:hover, a.btn:active, a.btn:focus {
        transform: scale(1.1);
    }
/* FINE SETTING LINK A */

/* INIZIO MAIN NAV */
    main nav.main-nav .nav-top {
        display: flex;
        flex-direction: column;
        height: calc(100% - 80px);
        overflow-y: hidden;
    }

    main nav.main-nav .nav-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80px;
        padding-right: 20px;
        padding-left: 20px;
    }

    main nav.main-nav .nav-top .nav-logo {
        padding: 20px;
    }

    main nav.main-nav .nav-top .nav-logo img {
        width: 70%;
    }

    main nav.main-nav .nav-top .nav-logo-mobile {
        display: none;
        text-align: center;
        padding: 5px;
    }
    main nav.main-nav .nav-top .nav-logo-mobile img{
        width: 70%;
    }
/* FINE MAIN NAV */
/* FINE MAIN */

/* INIZIO BOTTOM-BAR */
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 90px;
    background: #282828;
  }
  footer #player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

    /* INIZIO PLAYER ALBUM */
    footer #player .player-album, footer #player .player-audio {
        width: 230px;
        height: 100%;
        padding: 10px;
    }

    footer #player .player-album {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer #player .player-album .player-album-cover {
        width: 20%;
    }

    footer #player .player-album .player-album-cover img {
        width: 100%;
    }

    footer #player .player-album .player-album-title {
        width: 50%;
        padding-left: 10px;
    }

    footer #player .player-album .player-album-title h2 {
        font-size: 12px;
        line-height: 12px;
    }

    footer #player .player-album .player-album-title h2 a{
        color: rgba(255, 255, 255, 1);
    }

    footer #player .player-album .player-album-title p {
        font-size: 10px;
    }

    footer #player .player-album .player-icons i{
        margin-left: 5px;
    }

    /* FINE PLAYER ALBUM */

    /* INIZIO PLAYER CONTROLLER */
    footer #player .player-controller {
        width: 40%;
        height: 100%;
        background-color: green;
    }

    footer #player .player-controller .player-controller-icons {
        height: 60%;
        background-color: blue;
    }

    footer #player .player-controller .player-controller-icons ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    /* FINE PLAYER CONTROLLER */

    /* CONTROLLER TEMPO BRANO*/
    footer #player .player-controller .time-control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    footer #player .player-controller .time-control .time-control-min {
        width: 10%;
        margin: 0 10px;
        font-size: 10px;
        text-align: center;
    }
    /* FINE CONTROLLER TEMPO BRANO*/

    /* INIZIO LAYOUT CONTROLLER AUDIO*/
        footer #player .player-bar {
            width: 80%;
            height: 4px;
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.2);
        }

        footer #player .player-bar .control-bar {
            position: relative;
            height: 100%;
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.6);
        }
        footer #player .player-bar .control-bar-point {
            width: 20%;
        }

        footer #player .player-bar:hover .control-bar {
            background-color: greenyellow;
        }
    /* FINE LAYOUT CONTROLLER AUDIO*/
/* FINE BOTTOM-BAR */

/* MEDIA QUERY */
    
    /* MOBILE */
    @media screen and (max-width: 600px) {
        main nav.main-nav {
            width: 50px;
        }

        main nav.main-nav .nav-top .nav-playlist {
            display: none;
        }

        main #content .col {
            width: calc(100% - 50px);
        }

        main #content {
            padding-left: 50px;
        }
    }

    /* TABLET */
    @media screen and (max-width: 700px) {

    }

    /* DESKTOP */
    @media screen and (max-width: 1100px) {

    }
/* FINE MEDIA QUERY */